* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #343434;
}

a:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.padding-bottom {
  padding-bottom: 25vh;
}

.padding-top {
  padding-top: 15vh;
}

.descriptor {
  width: 50%;
}

nav {
  font-weight: 500;
  font-size: 17px;
  background-color: white;
  color: #202020;
}

.navbar.scrolled {
  background-color: white !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: #202020;
}

.nav-item {
  margin-left: 25px;
  color: #343434;
}

/*Clearing Floats*/
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Form wrapper styling */
.search-wrapper {
  width: 450px;
  margin: 50px auto 50px auto;
  border-radius: 10px;
  background: transparent;
  color: #343434;
  outline-style: solid;
  outline-color: #343434;
}

/* Form text input */
.search-wrapper input {
  width: 330px;
  height: 20px;
  margin-top: 8px;
  float: left;
  font-size: 14px;
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
  padding-left: 20px;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  padding-left: 20px;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #787878;
  font-weight: 500;
}

.search-wrapper input:-moz-placeholder {
  color: #787878;
  font-weight: 500;
}

.search-wrapper input:-ms-input-placeholder {
  color: #787878;
  font-weight: 500;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  color: #343434;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  outline-style: solid;
  outline-color: #343434;
  border-radius: 0px 10px 10px 0px;
}

.search-wrapper button:hover {
  background: #529FA6;
  color: white;
}

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #529FA6;
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #529FA6;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

footer {
  background-color: white;
  color: #202020;
  padding: 20px 10vw;
  text-align: center;
  margin-top: 5vw;
  z-index: 1;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.footer-icon-1:hover {
  color: #529FA6;
}

.footer-icon-2:hover {
  color: #9FC157;
}

.footer-icon-3:hover {
  color: #D64279;
}

.footer-icon-4:hover {
  color: #7736C4;
}
/*# sourceMappingURL=about.css.map */