// COLOR SET

$red: #E06B65;
$yellow: #FEEB96;
$blue: #99CCFF;
$black: #202020;
$soft-black: #343434;
$teal: #529FA6;
$green: #9FC157;
$magenta: #D64279;
$purple: #7736C4;
$gray: #787878;


// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $soft-black;
}

a:hover {
    text-decoration: none;
    color: $gray;
    transition-timing-function: ease-in;
}

.padding-bottom {
    padding-bottom: 25vh;
}

.padding-top {
    padding-top: 15vh;
}

.descriptor {
    width: 50%;
}
//


// NAV BAR

nav {
    font-weight: 500;
    font-size: 17px;
    background-color: white;
    color: $black;
}

.navbar.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
    color: $black;
}

.nav-item {
    margin-left: 25px;
    color: $soft-black;
}
//


// BOOK RECOMMENDATIONS

/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    

/* Form wrapper styling */

.search-wrapper {
    width: 450px;
    margin: 150px auto 50px auto;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
    background: #837e7e;
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   
//


// FOOTER

footer {
    background-color: white;
    color: $black;
    padding: 20px 10vw;
    text-align: center;
    margin-top: 5vw;
    z-index: 1;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    justify-content: center;
    z-index: 1;
}

// .col-5ths {
//     padding: 0 10px;
// }

.footer-icon-1:hover {
    color: $teal;
}

.footer-icon-2:hover {
    color: $green;
}

.footer-icon-3:hover {
    color: $magenta;
}

.footer-icon-4:hover {
    color: $purple;
}


// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}