// COLOR SET

$red: #E06B65;
$yellow: #FEEB96;
$blue: #99CCFF;
$black: #202020;
$soft-black: #343434;
$teal: #529FA6;
$green: #9FC157;
$magenta: #D64279;
$purple: #7736C4;
$gray: #787878;


// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $soft-black;
}

a:hover {
    text-decoration: none;
    color: $gray;
    transition-timing-function: ease-in;
}

.padding-bottom {
    padding-bottom: 25vh;
}

.padding-top {
    padding-top: 15vh;
}

.descriptor {
    width: 50%;
}
//


// NAV BAR

nav {
    font-weight: 500;
    font-size: 17px;
    background-color: white;
    color: $black;
}

.navbar.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
    color: $black;
}

.nav-item {
    margin-left: 25px;
    color: $soft-black;
}
//


// BOOK RECOMMENDATIONS

/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    

/* Form wrapper styling */

.search-wrapper {
    width: 450px;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    background: transparent;
    color: $soft-black;
    outline-style: solid;
    outline-color: $soft-black;
}

/* Form text input */

.search-wrapper input {
    width: 330px;
    height: 20px;
    margin-top: 8px;
    float: left;
    font-size: 14px;
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
    padding-left: 20px;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    padding-left: 20px;
}

.search-wrapper input::-webkit-input-placeholder {
    color: $gray;
    font-weight: 500;
}

.search-wrapper input:-moz-placeholder {
    color: $gray;
    font-weight: 500;
}

.search-wrapper input:-ms-input-placeholder {
    color: $gray;
    font-weight: 500;
    border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    color: $soft-black;
    text-transform: uppercase;
    background-color: white;
    font-weight: 500;
    outline-style: solid;
    outline-color: $soft-black;
    border-radius: 0px 10px 10px 0px;
}  

.search-wrapper button:hover{    
    background: $teal;
    color: white;
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: $teal;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
    border-right-color: $teal;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   
//


// FOOTER

footer {
    background-color: white;
    color: $black;
    padding: 20px 10vw;
    text-align: center;
    margin-top: 5vw;
    z-index: 1;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    justify-content: center;
    z-index: 1;
}

// .col-5ths {
//     padding: 0 10px;
// }

.footer-icon-1:hover {
    color: $teal;
}

.footer-icon-2:hover {
    color: $green;
}

.footer-icon-3:hover {
    color: $magenta;
}

.footer-icon-4:hover {
    color: $purple;
}


// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}